/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  @apply bg-gray-100;
}

a {
  @apply text-dark;
}
a:hover {
  @apply text-semiDark;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

.custom-html-style pre code {
  background-color: transparent !important;
  padding: 0;
}
.custom-html-style pre,
.custom-html-style code {
  border-radius: 5px !important;

  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
pre.highlight-pre-tag {
  border-radius: 5px;
}

.code-title {
  background: #1f193e;
  border-bottom: 1px solid #28c7c1;
  margin-bottom: 0;
  margin-top: 16px;
  font-size: 16px;
  border-radius: 7px;
  color: whitesmoke;
  padding: 5px 10px;
  z-index: 11;
  font-family: "Fira Mono";
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.code-title + .highlight-pre-tag {
  margin-top: 0;
}

pre.highlight-pre-tag {
  border: 1px solid transparent;
  border-radius: 5px;
  z-index: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
